

<div class="dashboard-nav-menu" id="dashboard-nav-menu">
  
  <div class="date-container dashboard-nav-menu-item">
    <input type="text" id="datepicker">
    <a href="#" id="double-date-left"><i class="fa fa-angle-double-left"></i></span></a>
    <a href="#" id="date-left"><span class="fa fa-angle-left"></span></a><!-- no spaces or tabs to avoid uderline when link is clicked !--> 
    <div id="date-field-container">
      <span id="date-field"></span>
    </div>
    <a href="#" id="date-right"><span class="fa fa-angle-right"></span></a> <!-- no spaces or tabs to avoid uderline when link is clicked !--> 
    <a href="#" id="double-date-right"><i class="fa fa-angle-double-right"></i></span></a>
  </div>
  
  <div class="view-container dashboard-nav-menu-item">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" id="day-view">Day</a></li>
      <li><a href="#" id="week-view">Week</a></li>
      <li><a href="#" id="month-view">Month</a></li>
      <li><a href="#">Year</a></li>
    </ul>
  </div>
  
  <div class="nav-container dashboard-nav-menu-item">
    <div class="refresh-button pull-right">
      <a href="#"><span class="glyphicon glyphicon-repeat"></span></a>
    </div>
  </div>
  
</div>