
  <div id="week-container">
    

    <div class="row-container dashboard-menu">
      <div class="col-room dashboard-menu-item">
        <div>Room</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day" id="day1"></div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day2</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day3</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day4</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day5</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day6</div>
      </div>
      <div class="col-day dashboard-menu-item">
        <div class="week-day">day7</div>
      </div>
    </div>
  
    <div class="row-container dashboard-grid">
      <div class="col-room dashboard-row-item">
        <div>101</div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
    </div>
    
    <div class="row-container dashboard-grid">
      <div class="col-room dashboard-row-item">
        <div>102</div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
      <div class="col-day dashboard-row-item">
        <div></div>
      </div>
    </div>
  </div>
  
<script>
  setWeekDays(moment($('#date-field').text(), "Do MMMM YYYY"))
</script>