<% provide(:title, "Dashboard") %>


  <div class="page-header">
    <h1>Here it comes</h1>
  </div>

  <p>Some long text. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
  tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. 
  Donec sed odio dui.
  Some long text. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
  tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. 
  Donec sed odio dui.</p>

<div class="dashboard-nav-menu">
  <div class="date-container dashboard-nav-menu-item">

  </div>
  <div class="nav-container dashboard-nav-menu-item">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Day</a></li>
      <li><a href="#">Week</a></li>
      <li><a href="#">Month</a></li>
      <li><a href="#">Year</a></li>
    </ul>
  </div>
  <div class="nav-container dashboard-nav-menu-item">
    my text
  </div>
</div>


<div class="dashboard-container">
  
    <div class="row-container dashboard-menu">
      <div class="col-room dashboard-menu-item">
        <div>Room</div>
      </div>
      <div class="col-pax dashboard-menu-item">
        <div>Pax</div>

      </div>
      <div class="col-name dashboard-menu-item">
        <div>Client</div>
      </div>
      <div class="col-in dashboard-menu-item">
        <div>IN</div>
      </div>
      <div class="col-out dashboard-menu-item">
        <div>OUT</div>
      </div>
      <div class="col-ref dashboard-menu-item">
        <div>Reference</div>
      </div>
      <div class="col-price dashboard-menu-item">
        <div>Price</div>
      </div>
      <div class="col-extras dashboard-menu-item">
        <div>Services</div>
      </div>
      <div class="col-total dashboard-menu-item">
        <div>Total</div>
      </div>
      <div class="col-status dashboard-menu-item">
        <div>Status</div>
      </div>
      <div class="col-notes dashboard-menu-item">
        <div>Notes</div>
      </div>
      <div class="col-something dashboard-menu-item">
        <div>Notes</div>
      </div>
    </div>
  
    <div class="row-container dashboard-grid">
      <div class="col-room dashboard-row-item">
        <div>a</div>
      </div>
      <div class="col-pax dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-name dashboard-row-item">
        <div id="name">This is a really long client name </div>
      </div>
      <div class="col-in dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-out dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-ref dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-price dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-extras dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-total dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-status dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-notes dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-something dashboard-row-item">
        <div>b</div>
      </div>
    </div>
    
    <div class="row-container dashboard-grid">
      <div class="col-room dashboard-row-item">
        <div>a</div>
      </div>
      <div class="col-pax dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-name dashboard-row-item">
        <div id="name">This is a really long client name</div>
      </div>
      <div class="col-in dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-out dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-ref dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-price dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-extras dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-total dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-status dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-notes dashboard-row-item">
        <div>b</div>
      </div>
      <div class="col-something dashboard-row-item">
        <div>b</div>
      </div>
    </div>
    
    
</div>