<% provide(:button_text, "Add client") %>

<div class="page-header">
  <h1>Create new client</h1>
</div>

<div class="row">
  <div class="col-md-4  col-md-offset-2">
    <div class="form-container">
    <%= form_for(@client) do |f| %>
    
      <%= render "client_form" %>
    
    <% end %>
    </div>
  </div>
</div>