
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"><%= @client.first_name %></li>
      <li class="list-group-item"><%= @client.last_name %></li>
      <li class="list-group-item"><%= @client.phone_number %></li>
      <li class="list-group-item"><%= @client.email %></li>
    </ul>
  </div>
</div>

