<div class="room-list-item">  
  <div class="bed-type-select-container">
    <% @room.bed_types.each do |bed_type| %>
    <%= f.fields_for :bed_types, bed_type do |f_bed_type| %>
      <div class="bed-type-field-container">
      <%= f_bed_type.collection_select(:id, BedType.all, :id, :name, { include_blank: true }) %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>