<div class="room-list-menu room-list-row">
  <div class="room-list-item">
    <div>Number</div>
  </div>
  <div class="room-list-item">
    <div>Size</div>
  </div>
  <div class="room-list-item">
    <div>Room type</div>
  </div>
  <div class="room-list-item">
    <div>Bathrooms</div>
  </div>
  <div class="room-list-item">
    <div>Bathroom type</div>
  </div>
  <div class="room-list-item">
    <div>Capacity</div>
  </div>
  <div class="room-list-item">
    <div>Capacity (max)</div>
  </div>
  <div class="room-list-item">
    <div>Number of beds</div>
  </div>
  <div class="room-list-item">
    <div>Extra beds?</div>
  </div>
  <div class="room-list-item">
    <div>Floor</div>
  </div>
  <div class="room-list-item">
    <div>Description</div>
  </div>
  <div class="room-list-item">
    <div>Created At</div>
  </div>
</div>