<% provide(:button_text, 'Save changes') %>

  <div class=page-header>
    <h1>Edit room</h1>
  </div>

  <div class="new-room-container">
  
  <%= render partial: "room_form", locals: {action: "edit"} %>
  
  </div>