<% provide(:title, "Rooms") %>


  <div class=page-header>
    <h1>Rooms collection</h1>
  </div>
  <div class="rooms-container">
    <%= render @rooms %>
  </div>
  
  <h1> Rooms list </h1>
  <div class="rooms-list-container">
    <%= render "room_list_menu" %>
    
    <% @rooms.each do |room| %>
      <%= render partial: "room_list", locals: {room: room} %>
    <% end %>

    
  </div>
