<% provide(:title, "Rooms") %>


  <div class=page-header>
    <h1>Rooms collection</h1>
  </div>
  <div class="rooms-container">
    <%= render @rooms %>
  </div>
  
  <h1> Rooms list </h1>
  <div class="rooms-list-container">
    <div class="room-list-menu room-list-row">
      <div class="room-list-item">
        <div>Number</div>
      </div>
      <div class="room-list-item">
        <div>Size</div>
      </div>
      <div class="room-list-item">
        <div>Room type</div>
      </div>
      <div class="room-list-item">
        <div>Bathrooms</div>
      </div>
      <div class="room-list-item">
        <div>Bathroom type</div>
      </div>
      <div class="room-list-item">
        <div>Capacity</div>
      </div>
      <div class="room-list-item">
        <div>Capacity (max)</div>
      </div>
      <div class="room-list-item">
        <div>Number of beds</div>
      </div>
      <div class="room-list-item">
        <div>Extra beds?</div>
      </div>
      <div class="room-list-item">
        <div>Floor</div>
      </div>
      <div class="room-list-item">
        <div>Description</div>
      </div>
      <div class="room-list-item">
        <div>Created At</div>
      </div>
    </div>
    
    <% @rooms.each do |room| %>
      <%= render partial: "room_list", locals: {room: room} %>
    <% end %>

    
  </div>
