<% provide(:button_text, 'Create room') %>

  <div class=page-header>
    <h1>Create new room</h1>
  </div>

  <div class="new-room-container">
  
  <%= render partial: "room_form", locals: {action: "new"} %>
  
  </div>