$dashboard-border: 1px solid #d9d9d9;

// Dashboard nav menu
.dashboard-nav-menu {
  display: flex;
  margin-bottom: 10px;
}

.dashboard-nav-menu-item {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 2px;
}

.date-container {
  display: inline-block;
  padding: 10px;
  line-height: 2;
  vertical-align: middle;
  a, a:hover, a:active, a:visited {
    text-decoration: none; 
  }
}

#date-field-container {
  width: 175px;
  display: inline-block;
  text-align: center;
}

#date-field, .yv-month-name, #year-field {
  font-size: 18px;
  color: #337ab7;
}

// - invisible input field
#datepicker { 
  width: 0px;
  border: 0px;
}

// - naviagtion arrows
#date-left, #date-right {
  font-size: 20px;
  margin-right: 3px;
  margin-left: 3px;
}

#double-date-right, #double-date-left {
  @extend #date-left;
  visibility: hidden;
}

#double-year-right, #double-year-left {
  @extend #date-left;
  display: none;
  margin-right: 8px;
  margin-left: 8px;

}

.refresh-button {
  display: inline-block;
  margin-left: 13px;
}


// Dashboard grid

.row-container {
  display: flex;
}

.dashboard-row-item, .dashboard-menu-item {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 2px;
}


.dashboard-menu-item {
  padding: 5px;
  text-align: center;
  border: 1px solid #b3b3b3;
}

.dashboard-row-item {
  @extend .dashboard-menu-item;
  border: $dashboard-border;
}


// - columns 
.col-name {
  flex-basis: 0;
  flex-grow: 2;
}

.col-room {
  min-width: 80px;
  max-width: 80px;
  
}

.col-pax {
  max-width: 40px;
}

.col-something {
  display: none;
}

// - grid items
.client-name {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;

  &:hover {
    text-overflow: inherit;
    overflow: visible;
    background-color: #fff;
    z-index: 1;
    display: inline-block;
    position: relative;
  }
}

// - month-view
.last-day {
  display: none;
}


// - year view
#year-container {
  display: flex;
  overflow: auto;


}

.year-container-month {
  flex-shrink: 0;
  width: 1000px;
  margin-right: 15px;
  margin-bottom: 20px;
}

// - year dropdown

.year-dropdown-menu {
    position: absolute;
    list-style: none;
    display: none;
    z-index: 2;
    background-color: #fff;
    padding: 0px 15px 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#year-field {
  display: none;
}