

// display rooms index and show
.rooms-container, .room-list-row {
  display: flex;
}

.rooms-item {
  width: 300px;
  border: 1px solid blue;
}

.room-list-item {
  flex-basis: 0;
  flex-grow: 1;
  border: 1px solid #aab000;
  padding: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  min-width: 2px;
}