input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

// display rooms index and show
.rooms-container {
  display: flex;
  flex-wrap: wrap;
}

.room-list-row {
  display: flex;
}

.rooms-item {
  width: 300px;
  border: 1px solid blue;
}

.room-list-item {
  flex-basis: 0;
  flex-grow: 1;
  border: 1px solid #aab000;
  padding: 5px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  min-width: 2px;
}